@import './Variables.scss';

@keyframes photo {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.gallery {

  width: 80%;
  margin: 0 auto;
  column-count: 3;
  
  .pics {        
    cursor: pointer;
    padding: 6px;
    margin-bottom: 12px;
  }
}

.model {
  border: solid 5px azure;
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  z-index: 1;
  cursor: pointer;
  
  
  img {
    width: 100%;
    display: block;
    
  }
}
.model.open {
  box-shadow: 3px 3px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  transform: scale(1);
  animation-name: photo;
  animation-duration: 1s;
  animation-fill-mode: both;
  
  svg {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 2rem;
    width: 2rem;
    padding: 5px;
    background-color: azure;
    color: brown;
    cursor: pointer;
    border-radius: 10px;
  }
}

@media (max-width: 1640px) {
  .model {
    width: 60%;
    left: 20%;
  }
}
@media (max-width: 1050px) {
  .model {
    width: 84%;
    left: 8%;
  }
}

@media (max-width: 900px) {
  .model {
      width: 84%;
      left: 8%;
    }
  }


@media (max-width: 660px) {
    .gallery {
        width: 98%;
        margin: 0 auto;
        column-count: 1;
      }

  .model.open {
    display: none;
  }

}
