@import "./Variables.scss";

h2 {
  font-size: $midiSize;
  font-weight: $mainWeight;
  margin: 20px 0;
  color: $mainColor;
  text-align: center;
  }

.homepage {
  text-align: center;
  margin-bottom: 50px; 

  h2 {
    font-size: $midiSize;
    font-weight: $mainWeight;
    margin: 10px;
    color: $mainColor;
    
    
  }
  .icons {
  
    .logo_links {    
      display: inline-block;
      text-align: center;
      margin: 5px;
      box-shadow: 2px 2px 7px $pageBackground;
      transition: all 1s ease;
      &:hover {
        transform: scale(0.9);
      }
      h2 {
        font-size: $resSize;
      }
      a {
        text-decoration: none;
      }
      img {
        width: 180px;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .homepage {
    h2{
        margin: 5px;
    }
    .icons {
      .logo_links {
        &:hover {
          transform: scale(1);
        }
        img {
          width: 110px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .homepage {
    h2{
        margin: 5px;
    }
    .icons {
      .logo_links {
        img {
          width: 155px;
        }
      }
    }
  }
}

