@import "./Variables.scss";

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.wrapper { 
  position: fixed;
  top: 30px;
  z-index: 2;
  text-align: center;
  background-color: $secondColor;
  color: $mainColor;
  width: 100%;
  padding: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  animation: slideIn 1s ease-in-out;
}
