// backgrounds

// $mainBackground: #f0ffff; 
$mainBackground: white; 
$pageBackground: #111111; 

// text sizes

$bigSize: 50px;
$titleSize: 40px;
$midiSize: 30px;
$resSize: 20px;
$textSize: 18px;

// font colors

$mainColor: #6c0707;
$secondColor: white;


$mainWeight: 280;
$secondWeight: 280;