// backgrounds

$mainBackground: #f0ffff; 
$pageBackground: #333333; 

// text sizes

$bigSize: 50px;
$midiSize: 30px;
$resSize: 22px;
$textSize: 16px;

// font colors

$mainColor: #6c0707;
$secondColor: #f0ffff;

$mainWeight: 220;